<%= render partial: "post", locals: { post: @post } %>

<nav>
    <br/>
    <%= link_to("Homepage", :root) %>
    <br/>
</nav>


<%= form_tag(post_comments_path(@post.id)) do %>
    <div class="comment-field">
        <%= label_tag("Comment") %>
        <%= text_area_tag("body", nil, cols: 40, rows: 8) %>
    </div>

    <%= button_tag("Create Comment!") %>
<% end %>

<% @post.comments.each do |comment| %>
    <div class="post-comment">
        <%= comment.body %>
    </div>
<% end %>
